<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Violation Detection App</title>
    <link href="{{ url_for('static',filename='css/output.css') }}" rel="stylesheet">
</head>
<body>
<div class="h-screen w-screen flex flex-col justify-center items-center gap-8">
    <h1 class="text-4xl font-black">Helm Violation <br>Detection App</h1>
    <div class="flex gap-4">
        <a href="{{ url_for('stream.index') }}" class="bg-gray-200 p-8 rounded-lg hover:bg-gray-300 shadow cursor-pointer">
            <p>From Camera</p>
        </a>
        <a href="{{ url_for('upload.index') }}" class="bg-gray-200 p-8 rounded-lg hover:bg-gray-300 shadow cursor-pointer">
            <p>From Video</p>
        </a>
    </div>
</div>
</body>
</html>