{% extends "layouts/main_layouts.html" %}

{% block content %}
    <div class="grid grid-cols-5 gap-4 h-screen p-4">
        <div class="col-span-3 h-full w-full overflow-hidden flex flex-col">
            <h1 class="text-2xl font-bold mb-[10px]">Uploaded Video List</h1>
            <ul class="gap-2 flex flex-col overflow-y-scroll h-full">
                {% if files %}
                    {% for file in files %}
                        <li class="bg-gray-200 w-full p-4 rounded-md hover:bg-gray-300 flex justify-between items-center">
                            {{ file }}
                            <form id="delete-form-{{ file }}" action="{{ url_for('upload.delete', filename=file) }}"
                                  method="POST" style="display: none;">
                            </form>
                            <div class="flex justify-between items-center gap-2">
                                <button onclick="window.location='{{ url_for('record.index', filename=file) }}'"
                                        class="bg-active hover:bg-activeHover px-4 py-2 rounded-md text-white text-sm">
                                    Detect Video
                                </button>
                                <button onclick="if(confirm('Are you sure delete this file?')){document.getElementById('delete-form-{{ file }}').submit()};"
                                        class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md text-white text-sm">
                                    {% include 'components/remove_icon.html' %}
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="bg-gray-200 w-full p-4 rounded-md flex justify-between items-center">
                        No File, Please upload file first!
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-span-2 overflow-hidden rounded-md">
            <h2 class="text-base font-semibold mt-[8px] mb-[10px] text-gray-600">Upload Video</h2>
            <div class="w-full h-full">
                <form id="uploadForm" action="{{ url_for('upload.upload_video') }}" method="POST"
                      enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput" required class="">
                    <button type="submit">Upload</button>
                </form>
                <div id="loadingIndicator" style="display: none;">Uploading...</div>
                <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}